@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
body {
  background-color: #000000;
  font-family: "Noto Sans KR", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 0;
  box-sizing: border-box;
}
.header-text {
  color: #FFFFFF;
}
.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  width: 80%;
  margin: auto;
  max-width: 800px;
}
/* 영화 소개란 스타일 */
#movie-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
}
.movie-img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 30%;
  padding: 10px 15px 20px 15px;
}
.movie-info {
  flex-grow: 1;
  padding: 10px;
}
.movie-title {
  font-size: 24px;
  padding: 20px 0px 0px 0px;
  font-weight: 700;
  letter-spacing: 0.2px;
  border-top: 1px solid #999;
}
.movie-detail {
  display: flex;
  align-items: center;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #999;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.movie-desc {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
}
/* 등록된 리뷰 목록과 리뷰 등록 섹션 스타일 */
#review,
.submit {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
textarea {
  flex: 1 0 70%;
  font-size: 16px;
  margin-right: 10px;
}
.submit-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input[type="text"],
input[type="password"],
button {
  padding: 8px;
  font-size: 16px;
}
button {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px #828282, 2px 2px 5px 0px black, 2px 2px 2px 0px black;
  outline: none;
<<<<<<< HEAD
  background: silver;
=======
  background: black;
>>>>>>> 0e374af22e3762090b7e9ad3931614e6656ca08a
  background: linear-gradient(0deg, black) 0%, black 100%;
  border: none;
}
button:hover {
  position: relative;
  border-color: silver;
  background: linear-gradient(0deg, #828282 0%, silver 100%);
}

/* 미디어 쿼리 추가 - 화면 너비가 800px 이하일 때 */
@media only screen and (max-width: 800px) {
  .header-text {
    font-size: 18px; /* 헤더 텍스트 크기 조정 */
  }
  .square {
    width: 90%; /* 정사각형 너비 조정 */
  }
  .movie-img {
    max-width: 100%; /* 영화 이미지 최대 너비 조정 */
    padding: 10px; /* 패딩 조정 */
  }
}
/* 미디어 쿼리 추가 - 화면 너비가 600px 이하일 때 */
@media only screen and (max-width: 600px) {
  .square {
    flex-direction: column;
    align-items: center;
  }
  .movie-info {
    padding: 10px;
  }
  .movie-title {
    font-size: 20px;
  }
  .movie-desc {
    font-size: 14px;
  }
}
<<<<<<< HEAD

#review {
  display: flex;
  flex-direction: column;
}

.review-item {
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-item p {
  margin: 20px 0;
  color: white;
}

.review-item strong {
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: 10%;
}
=======
#review {
  display: flex;
  flex-direction: column;
}
>>>>>>> 0e374af22e3762090b7e9ad3931614e6656ca08a
